<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>AJAX Demo</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script type="text/javascript">
            $(() => {
                $(".hello-ajax").click(function () {
                    $.ajax({
                        type: "GET",
                        url: "@Url.Action("HelloAjax")",
                        success: result => $("#result1").html(result)
                    });
                });

                $(".sum").click(function () {
                    $.ajax({
                        type: "GET",
                        data: { firstNumber: 1, secondNumber: 2 },
                        url: "@Url.Action("Sum")",
                        success: result => $("#result2").html(result)
                    });
                });

                $(".display-object").click(() => {
                    $.ajax({
                        type: "GET",
                        dataType: "json",
                        contentType: "application/json",
                        url: "@Url.Action("DisplayObject")",
                        success: result => {
                            const resultString = `Id: ${result.id} <br>City: ${result.city} <br>Country: ${result.country}`;
                            $("#result3").html(resultString);
                        }
                    });
                });

                $(".display-view").click(() => {
                    $.ajax({
                        type: "GET",
                        dataType: "html",
                        url: "@Url.Action("DisplayViewWithAjax")",
                        success: result => $("#result4").html(result)
                    });
                });

                $(".display-random-database-items").submit(function(event) {
                    event.preventDefault();
                    $.ajax({
                        url: "@Url.Action("RandomDestinationList")",
                        type: "GET",
                        data: $(this).serialize(),
                        dataType: "json",
                        success: result => {
                            let stringResult = "<ul>";
                            result.forEach(res => stringResult += `<li> ${res.city}, ${res.country} </li>`);
                            stringResult += '<ul>';
                            $('#result5').html(stringResult);
                        }
                    });
                });

                $(".new-destination").submit(function (event) {
                    event.preventDefault();

                    $.ajax({
                        url: "@Url.Action("NewDestination")",
                        type: "POST",
                        dataType: 'json',
                        data: $(this).serialize(),
                        success: result => {
                            const message = `You've added a new destination to the database! <br>Id: ${result.id} <br>City: ${result.city} <br>Country: ${result.country}`;
                            $("#result6").html(message);
                        }
                    });
                });
            });
        </script>
    </head>
    <body>
        <div>
            <h2>Basic AJAX</h2>
            <h4 class="hello-ajax">Hello AJAX</h4>
            <div id="result1"></div>
        </div>

        <div>
            <h2>Using Parameters</h2>
            <h4 class="sum">Sum</h4>
            <div id="result2"></div>
        </div>

        <div>
            <h2>Using JSON to display an object</h2>
            <h4 class="display-object">Display object</h4>
            <div id="result3"></div>
        </div>

        <div>
            <h2>Displaying a view</h2>
            <h4 class="display-view">Display view</h4>
            <div id="result4"></div>
        </div>

        <div>
            <h2>Using a form to make a GET request</h2>
            <form action="RandomDestinationList" class="display-random-database-items">
                <label for="destinationCount">How many destinations would you like to see?</label>
                <input type="number" name="destinationCount" />
                <button type="submit">Submit</button>
            </form>
            <div id="result5"></div>
        </div>

        <div>
            <h2>Submitting data with a POST request</h2>
            <form action="NewDestination" class="new-destination">
                <label for="newCity">City:</label>
                <input type="text" name="newCity" />
                <label for="newCountry">Country:</label>
                <input type="text" name="newCountry" />
                <button type="submit">Submit</button>
            </form>
            <div id="result6"></div>
        </div>
    </body>
</html>